@font-face {
    font-family: "BankGothic Lt BT";
    src: url('../fonts/bgothl.ttf');
}

@font-face {
    font-family: "OCR A Std";
    src: url('../fonts/OCRAStd.otf');
}

/*
 * Photographs and graphic design by Lee Richards
 */
.popup_background {
    -fx-border-radius: 20;
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-font-family: "BankGothic Lt BT", Helvetica, Arial, sans-serif;
}

.card_bg {
    -fx-background-color: white;
    -fx-background-radius:6;
}

.card_group {
    -fx-background-color: red;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0, 0, 0);
    -fx-background-radius:8;
 }
 
 
.PROPERTY_GROUP_BROWN {
    -fx-background-color: #9c552d;
    -fx-effect: dropshadow(three-pass-box, black, 3, 0, 0, 0);
}

.PROPERTY_GROUP_GREEN {
    -fx-background-color: #00aa86;
    -fx-effect: dropshadow(three-pass-box, black, 3, 0, 0, 0);
}

.PROPERTY_GROUP_YELLOW {
     -fx-background-color: #ffd600;
     -fx-effect: dropshadow(three-pass-box, black, 3, 0, 0, 0);
}

.PROPERTY_GROUP_STATION {
     -fx-background-color: #000000;
     -fx-effect: dropshadow(three-pass-box, black, 3, 0, 0, 0);
}

.PROPERTY_GROUP_UTILITIES {
    -fx-background-color: #aaaaaa;
    -fx-effect: dropshadow(three-pass-box, black, 3, 0, 0, 0);
}

.PROPERTY_GROUP_ORANGE {
    -fx-background-color: #ff5a00;
    -fx-effect: dropshadow(three-pass-box, black, 3, 0, 0, 0);
}

.PROPERTY_GROUP_PURPLE {
     -fx-background-color: #bc34ba;
     -fx-effect: dropshadow(three-pass-box, black, 3, 0, 0, 0);
}

.PROPERTY_GROUP_BLUE {
     -fx-background-color: #0085cf;
     -fx-effect: dropshadow(three-pass-box, black, 3, 0, 0, 0);
}

.PROPERTY_GROUP_RED {
    -fx-background-color: #f32837;
    -fx-effect: dropshadow(three-pass-box, black, 3, 0, 0, 0);
}

.PROPERTY_GROUP_DEEP_BLUE {
     -fx-background-color: #001ca8;
     -fx-effect: dropshadow(three-pass-box, black, 3, 0, 0, 0);
}

.PROPERTY_GROUP_TAKE_CARD {
     -fx-background-color: #ffffff;
     -fx-effect: dropshadow(three-pass-box, black, 3, 0, 0, 0);
}

.card_name {
    -fx-font-size: 18;
}
.card_sales_price {
    -fx-font-size: 14;
}

 .right_panel {
    -fx-background-color: transparent;
    -fx-text-fill: white;
 }

 .title_panel {
    -fx-border-color: white;
    -fx-border-width: 0 0 2 0;
 }

 .owner {
    -fx-font-family: "BankGothic Lt BT", Helvetica, Arial, sans-serif;
    -fx-font-size: 18;
    -fx-text-fill: white;
 }

 .rent_title, .rent_details, .rent_values {
    -fx-text-fill: white;
 }

 .rent_values {
    -fx-font-style: italic;
 }